{% extends '../layout/base.html' %} {% load static %} {% block content %}
<!-- CSS de DataTables -->
<link rel="stylesheet" href="{% static 'css/datatables.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'css/administracion/funcionarios.css' %}"
/>
<div class="row py-3">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <div class="dashboard-title-text">
      <input
        type="hidden"
        id="mensajeCreate"
        class="mensajeCreate"
        value="{{mensaje}}"
      />
    </div>
  </div>
</div>
<style>
  .nav-link:not(.active) {
    color: black !important;
    .custom-btn-success {
      background-color: green;
      color: white;
    }

    .custom-btn-danger {
      background-color: red;
      color: white;
    }
  }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <a
        style="color: aliceblue"
        class="btn btn-primary ml-3"
        href="{% url 'carga-index' %}"
      >
        Cargar destinatarios
      </a>
    </div>
  </div>
  <br />
  <form id="miFormulario" enctype="multipart/form-data">{% csrf_token %}</form>
  <table id="example" class="table">
    <thead>
      <tr>
        <th style="text-align: center">Estado</th>
        <th style="text-align: center">Nombre</th>
        <th style="text-align: center">Celular</th>
        <!-- <th style="text-align: center">Creador</th>
        <th style="text-align: center">Creacion</th> -->
        <th style="text-align: center">Acciones</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<br />
<br />
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/sweet.js' %}"></script>
<script src="{% static 'js/destinatarios/index.js' %}?v=26"></script>

<script>
  // $(document).ready(function() {
</script>

{% endblock %}
