* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #303030;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #B9B3AE;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h4 {
    font-weight: 400;
}

body {
    display: flex !important;
    overflow: hidden !important;
}

.sidebar {
    flex: 5.17 !important;
}

.message-container {
    flex: 12 !important;
}

.chat-title {
    display: flex !important;
    align-items: center !important;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-header-right img {
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;
}

.header {
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.message-header-content {
    margin-left: 15px;
}

.message-header-content p {
    font-size: 13px;
    color: grey;
}

.sidebar-search-container img {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.4;
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar-search-container input {
    border: navajowhite;
    outline: none;
    margin-left: 20px;
}

.chat-avatar {
    position: relative;
    flex: 1;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.sidebar-chat:hover {
    background-color: #F5F5F5;
}
/* .sidebar-chat:nth-child(2) {
    background-color: #EBEBEB;
  } */
  
  .selected {
    background-color: #EBEBEB;
  }
  

.sidebar-chat::before {
    content: "";
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat-info {
    flex: 10;
    margin-left: 15px;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time p {
    flex: 1;
    font-size: 13px;
    white-space: nowrap;
    margin-top: -16px;
    color: gray;
}


/* message content */

.message-content {
    height: calc(100vh - 120px);
    background-image: url(../images/background\ \(1\).png);
    background-position: center;
}

.message-content {
    flex: 1;
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 3px;
    background-color: white;
    
}

.chat-sent {
    margin-left: auto;
    width: fit-content;
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 3px;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: gray;
}


/* chat footer */

.message-footer {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.message-footer img {
    width: 22px;
    height: 22px;
    flex: 1;
    opacity: 0.4;
}

.message-footer input {
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

/* Estilos para las imágenes dentro del chat */
.chat-image {
    width: 200px; /* Ancho de las imágenes */
    height: 200px; /* Altura de las imágenes */
    /* border-radius: 50%; Hace que las imágenes sean circulares */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  }
  

  /* Estilo de la ventana emergente modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  /* Estilo para el contenido de la ventana emergente */
  .modal-content {
    display: block;
    margin: 10% auto;
    max-width: 90%;
    max-height: 90%;
  }
  
  /* Estilo para la imagen en la ventana emergente */
  .modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Estilo para el botón de cierre */
  .close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  
/* Estilo para el número */
.number {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #4caf50; /* Color del círculo verde */
    border-radius: 50%; /* Para crear el círculo */
    color: white; /* Color del número */
    font-weight: bold; /* Texto en negrita */
    text-align: center;
    vertical-align: middle;
    margin-top: 5px; /* Ajusta el margen superior para bajar el número */
  }
  
  /* Estilo para el contenedor de la hora y el número */
  .time {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
/* Estilos para los contenedores de video */
.video-container {
    width: 320px; /* Ancho deseado para el contenedor */
    height: 180px; /* Alto deseado para el contenedor */
    overflow: hidden; /* Ocultar cualquier contenido que se desborde del contenedor */
  }
  
  /* Estilos para los videos dentro de los contenedores de video */
  .video-container .chat-video {
    width: 100%; /* Ancho del video al 100% del contenedor */
    height: 100%; /* Alto del video al 100% del contenedor */
    object-fit: contain; /* Ajustar el video para que se ajuste dentro del contenedor sin distorsión */
  }
  
  .avatar-audio-container {
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente en el centro */
  }

  /* Estilo para el reproductor de audio */
  .chat-audio {
    width: 250px; /* Establecer el ancho del reproductor de audio */
  }



  
  /* Estilo del botón de adjuntar */
  #fileImg {
    cursor: pointer;
  }
  

  .boton-archivar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto del botón */
    width: 100%; /* Toma el ancho completo del elemento padre */
    height: 35px; /* Altura del botón */
    border: none; /* Sin borde */
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer;
  }
  
  /* Inicialmente, solo el elemento activo será visible */
img#archivados {
    display: block;
  }
  
  img#entrada {
    display: none;
  }
  
  /* Agrega la clase "activo" para mostrar el elemento correspondiente */
  img.activo#archivados {
    display: block;
  }
  
  img.activo#entrada {
    display: block;
  }
  
  .fecha-element {
    display: block;
    width: 200px;
    background-color: #AEB6BF;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: bold;
  }
  